<div class="modal-header">
    <h3 class="modal-title">Stavka</h3>
</div>
<div class="modal-body">
    <form>
        <div class="form-group">
            <label>Naziv robe ili usluge:</label>
            <input class="form-control" ng-model="invoiceItem.Naziv_robe_ili_usluge"></input>
        </div>
        <div class="form-group">
            <label>Kolicina:</label>
            <input class="form-control" ng-model="invoiceItem.Kolicina"></input>
        </div>
        <div class="form-group">
            <label>Jedinica mere:</label>
            <input class="form-control" ng-model="invoiceItem.Jedinica_mere"></input>
        </div>
        <div class="form-group">
            <label>Jedinicna cena:</label>
            <input class="form-control" ng-model="invoiceItem.Jedinicna_cena"></input>
        </div>
        <div class="form-group">
            <label>Vrednost:</label>
            <input class="form-control" ng-model="invoiceItem.Vrednost"></input>
        </div>
        <div class="form-group">
            <label>Procenat rabata:</label>
            <input class="form-control" ng-model="invoiceItem.Procenat_rabata"></input>
        </div>
        <div class="form-group">
            <label>Iznos rabata:</label>
            <input class="form-control" ng-model="invoiceItem.Iznos_rabata"></input>
        </div>
        <div class="form-group">
            <label>Umanjeno za rabat:</label>
            <input class="form-control" ng-model="invoiceItem.Umanjeno_za_rabat"></input>
        </div>
        <div class="form-group">
            <label>Ukupan porez:</label>
            <input class="form-control" ng-model="invoiceItem.Ukupan_porez"></input>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn" ng-click="ok()">OK</button>
    <button class="btn" ng-click="cancel()">Cancel</button>
    <button class="btn" ng-click="delete()">Delete</button>
</div>