<div>
	<form>
		<div class="form-group">
			<label >ID poruke:</label>
			<input class="form-control" ng-model="invoice.Zaglavlje.ID_poruke"></input>
		</div>
		<div class="form-group">
			<label>Kupac:</label>
			<input class="form-control" ng-model="invoice.Zaglavlje.Kupac.Naziv"></input>
		</div>
		<div class="form-group">
			<label>Adresa kupca:</label>
			<input class="form-control" ng-model="invoice.Zaglavlje.Kupac.Adresa"></input>
		</div>
		<div class="form-group">
			<label>PIB kupca:</label>
			<input class="form-control" ng-model="invoice.Zaglavlje.Kupac.PIB"></input>
		</div>

		<div class="form-group">
			<label>Dobavljac:</label>
			<input class="form-control" ng-model="invoice.Zaglavlje.Dobavljac.Naziv"></input>
		</div>
		<div class="form-group">
			<label>Adresa dobavljaca:</label>
			<input class="form-control" ng-model="invoice.Zaglavlje.Dobavljac.Adresa"></input>
		</div>
		<div class="form-group">
			<label>PIB dobavljaca:</label>
			<input class="form-control" ng-model="invoice.Zaglavlje.Dobavljac.PIB"></input>
		</div>
		<div class="form-group">
			<label>Broj racuna:</label>
			<input class="form-control" ng-model="invoice.Zaglavlje.Broj_racuna"></input>
		</div>
		<div class="form-group">
			<label>Datum racuna:</label>
			<div class="input-group">
				<input type="text" class="form-control" datepicker-popup="dd.MM.yyyy." ng-model="invoice.Zaglavlje.Datum_racuna" is-open="dateOpened" close-text="Close" />
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="openDatepicker($event, 'dateOpened')"><i class="glyphicon glyphicon-calendar"></i></button>
				</span>
			</div>
		</div>
		<div class="form-group">
			<label>Vrednost robe:</label>
			<input class="form-control" ng-model="invoice.Zaglavlje.Vrednost_robe"></input>
		</div>
		<div class="form-group">
			<label>Vrednost usluga:</label>
			<input class="form-control" ng-model="invoice.Zaglavlje.Vrednost_usluga"></input>
		</div>
		
		<div class="form-group">
			<label >Ukupno roba i usluga:</label>
			<input class="form-control" ng-model="invoice.Zaglavlje.Ukupno_roba_i_usluge"></input>
		</div>
		<div class="form-group">
			<label>Ukupan rabat:</label>
			<input class="form-control" ng-model="invoice.Zaglavlje.Ukupan_rabat"></input>
		</div>
		<div class="form-group">
			<label>Ukupan porez:</label>
			<input class="form-control" ng-model="invoice.Zaglavlje.Ukupan_porez"></input>
		</div>
		<div class="form-group">
			<label>Oznaka valute:</label>
			<input class="form-control" ng-model="invoice.Zaglavlje.Oznaka_valute"></input>
		</div>
		<div class="form-group">
			<label>Iznos za uplatu:</label>
			<input class="form-control" ng-model="invoice.Zaglavlje.Iznos_za_uplatu"></input>
		</div>
		<div class="form-group">
			<label>Uplata na racun:</label>
			<input class="form-control" ng-model="invoice.Zaglavlje.Uplata_na_racun"></input>
		</div>
		<div class="form-group">
			<label>Datum valute:</label>
			<div class="input-group">
				<input type="text" class="form-control" datepicker-popup="dd.MM.yyyy." ng-model="invoice.Zaglavlje.Datum_valute" is-open="currencyDateOpened" close-text="Close" />
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="openDatepicker($event, 'currencyDateOpened')"><i class="glyphicon glyphicon-calendar"></i></button>
				</span>
			</div>
		</div>
		<div class="form-group">
			<label>Stavke:</label>
			<table class="table table-striped table-bordered table-condensed table-hover">
				<tr>
					<th>Naziv robe ili usluge</th>
					<th>Kolicina</th>
					<th>Cena</th>
				</tr>
				<tr ng-repeat="stavka in invoice.Stavka track by $index" ng-click="openModal(stavka)">
					<td>{{stavka.Naziv_robe_ili_usluge}}</td>
					<td>{{stavka.Kolicina}} {{stavka.Jedinica_mere}}</td>
					<td>{{stavka.Kolicina*stavka.Jedinicna_cena}}</td>
				</tr>
			</table>
		</div>
		<div class="form-group">
			<button class="btn btn-default" ng-click="openModal()">new</button>
		</div>
	</form>
</div>
<div>
    <button class="btn" ng-click="save()">save</button>
    <button class="btn" ng-click="delete()">delete</button>
</div>