<div>
	<form>
		<div class="form-group">
			<label >username:</label>
			<input class="form-control" ng-model="user.username"></input>
		</div>
		<div class="form-group">
			<label>password:</label>
			<input type="password" class="form-control" ng-model="user.password"></input>
		</div>
		<div class="form-group">
			<button class="btn btn-default" ng-click="login()">login</button>
		</div>
	</form>

	<div class="form-group" ng-controller="firmeCtrl">
		<label >firma:</label>
		<select class="form-control" ng-model="firma" ng-change="firmaSelected(firma)" ng-init="firma = firme[0]" ng-options="firma.Naziv_firme for firma in firme">
			<!-- option ng-repeat="firma in firme" value="{{firma.Url}}">{{firma.Naziv_firme}}</option -->
		</select>
	</div>
</div>